
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body{
    background-color: #000000;
}
/*header part*/
.orange{
    color:rgba(230, 83, 60, 1);
}
.white{
    color: white;
}
.orange-bg{
    background-color: rgba(230, 83, 60, 1);
}
.border-2{
    border: 1px solid black;
    box-shadow: 0px 20px 25px black;
}
.bg-1{
    background-color: #111111;
    background: linear-gradient(to bottom, rgb(44, 44, 44),#111111);
    background-blend-mode:luminosity;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.border{
    width: 132px;
    height: 43px;
    font-size: 2.25rem;
    font-weight: 750;
}
.nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    width: 465px;
    height: 40px;
    padding: 3px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: 400;
}
.home{
    width:100px;
    height: 30px;
    border-radius: 46px;
    font-weight: 900;
    padding-top: 15px;
}
.nav-link{
    text-decoration: none;
}
.grey{
    color: rgba(255, 255, 255, 0.5);
}
.banner{
    display: flex;
    
    justify-content: center;
    gap: 40px;
}
.banner-tittle{
    font-size: 4.8rem;
}
.banner-content{
    font-size: 0.8rem;
    font-weight:lighter;   
}
.join-btn, .download-btn{
    width: 224px;
    height:54px;
    border-radius: 42px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
}
.download-btn{
    background-color: #111111;
    border: 1px solid white;
}
.details{
    width: 599px;
    height: 440px;
}
.poster{
    width: 350px;
    
}
.badge-btn{
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 12px;
}
#videos{
    /*margin-bottom: -105px;
    margin-left: 260px;
    margin-top: 140px;*/
    transform: translateX(250px) translateY(155px);
    background-color:rgba(76, 73, 73, 0.5);    
    backdrop-filter: blur(2px);
}
img{
    margin-top: -100px;
    width: 100%;
    height: 100%;
}
.tutorial{
    /*margin-top: -150px;
    margin-left: 50px;*/
    transform: translateX(-100px) translateY(-150px);
    background-color:rgba(76, 73, 73, 0.5);
    backdrop-filter: blur(5px);
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 99px;
}
.heading{
    
    font-weight: 800;
    height: 20px;
}

.badge-btn h1{
    font-size: 2rem;
}
.badge-btn h3{
    font-size: 1.5rem;
}
/*change habit*/
.change-habit, .run-an-extra,.train-and-exercise,.meeting-team{
    display: flex;
    justify-content: center;
    margin: 80px;
    padding: 10px;
    height: 652px;
    margin-top: 0;
}
.habit-box{
    width: 1044px;
    text-align: center;
    display: grid;
}
.habit-content{
    width: 680px;
    height: 120px;
    margin-left: 180px;
    text-align: center;
}
.heading-2{
    font-weight: 800px;
    width: 476px;
    font-size: 3rem;
    margin-left: 90px;
    margin-bottom: 0px;
}
.habits{
    display: flex;
    gap:50px ;
}
.image img{
    border-radius: 50%;
    width: 100%;
}
/*Run an extra*/
.run-an-extra{
    height: 375px;
}
.extra-box{
    display: flex;
    justify-content: center;
    width: 1060px;
    height: 370px;
    background-color: rgba(34, 34, 34, 1);
}
.box-content{
    width: 50%;
    padding-left: 50px;
}
.box-content button{
    font-size: 1.12rem;
    margin-top: 30px;
}
.box-content p{
    font-size: 0.87rem;
}
.box-heading{
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 800;
}
.box-image{
    height: 19.5rem;
    width:22.8rem ;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 30px;
}
.box-image img{
    height: 100%;
    border-radius: 18px;
}
/*Training and exercise*/
.train-and-exercise{
    display: grid;
}
.train-content{
    text-align: start;
    width: 41.8rem;
    height: 8.15rem;
    /*border: 1px solid wheat;*/
}
.train-images{
    grid-template-rows: auto auto;
    width: 1060px;
    height: 400px;
    /*border: 3px solid darkcyan;*/
    display: grid;
}
.row-1{
    display: grid;
    grid-template-columns: 15.6rem 33rem 16.4rem;
}
.row-2{
    display: grid;
    grid-template-columns: 26.5rem 16.5rem 22rem;
}
.image-1{
    background-image: url(../images/exercise1.jpg);
    background-size: cover;
    grid-area: 1st;
    position: relative;
}
.image-2{
    background-image: url(../images/exercise2.png);
    background-size: cover;
    grid-area: 2nd;
    position: relative;
}
.image-3{
    background-image: url(../images/exercise3.png);
    background-size: cover;
    grid-area: 3rd;
    position: relative;
}
.image-4{
    background-image: url(../images/exercise4.png);
    background-size: cover;
    grid-area: 4th;
    position: relative;
}
.image-5{
    background-image: url(../images/exercise5.jpg);
    background-size: cover;
    grid-area: 5th;
    position: relative;
}
.image-6{
    background-image: url(../images/exercise6.jpg);
    background-size: cover;
    grid-area: 6th;
    position: relative;
}
.over-1{
    padding: 10px;
    background-color: rgba(6, 255, 210, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-2{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.over-3{
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-4{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.over-5{
    padding: 10px;
    background-color:rgba(66, 255, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-6{
    padding: 10px;
    background-color: rgba(0, 71, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
/*BMI------*/
.BMI-content h1{
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.BMI-content{
    width: 670px;
    height: 120px;
    margin-left: 600px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.BMI-calculator{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    gap: 150px;
    flex-direction: row;
    height: 490px;
    padding-top: 100px;
    padding-left: 200px;
    margin: 100px;
}
table{
    height: 215px;
    border-collapse: collapse;
    padding: 0;
    gap: 0;
}
thead th{
    font-size: 1rem;
    height: 50px;
    width: 180px;
    text-align: left;
    padding: 5px;
    font-weight: 200;
}
table, th,td{
    border: 1px solid rgba(246, 242, 242, 0.1);
}
.row{
    width: 180px;
    height: 50px;
    padding: 5px;
}
.calculate-btn{
    font-size: 20px;
    font-weight: 800;
}
.form{
    width: 580px;
    height: 170px;
    display: grid;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
input, select{
    border-radius: 10px;
    border: none;
    height: 48px;
    background-color:rgba(255, 255, 255, 0.1) ;
    padding-left: 5px;
}
option{
    background-color: #424040;
}
.activity{
    height: 48px;
    width: 580px;
    padding: 3px;
}
/*meet our team*/
.meeting-team{
    height: 600px;
}
.team{
    width: 1060px;
    height: 580px;
    align-items: center;
    text-align: center;
}
.team h1{
    font-weight: 800;
}
.team-pic{
    height: 400px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 40px;
    padding: 15px;
    background-color:rgba(99, 98, 98, 0.2) ;
    border-radius: 10px;
}

.pics-1{
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-2{
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-3{
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-4{
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px; 
}
.pics-5{
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-6{
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-1 h5,.pics-2 h5,.pics-3 h5, .pics-4 h5, .pics-5 h5,.pics-6 h5, .pics-1 h1,.pics-2 h1,.pics-3 h1, .pics-4 h1, .pics-5 h1,.pics-6 h1{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
/*footer*/
.footer{
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    text-align: center;
    display: grid;
    gap: 10px;
}
.footer-content{
    width: 1056px;
    height: 300px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    margin-left: 420px;
    padding: 10px;
    margin-top: 50px;
    gap: 350px;
}
.brief{
    text-align: left;
}
.brief-content{
    font-size: 14px;
    text-align: left;
    margin-top: 30px;
}
.about-table{
    text-align: left;
    height: 250px;
    width: 450px;
}
.about-table thead{
    font-size: 50px;
    font-weight: 800;
}
.about-table td{
    padding: 5px;
}
.about-us table,.about-us th, .about-us td{
    border: none;
}
