
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body{
    background-color: #000000;
}
/*header part*/
.orange{
    color:rgba(230, 83, 60, 1);
}
.white{
    color: white;
}
.orange-bg{
    background-color: rgba(230, 83, 60, 1);
}
.border-2{
    border: 1px solid black;
    box-shadow: 0px 20px 25px black;
}
.bg-1{
    background-color: #111111;
    background: linear-gradient(to bottom, rgb(44, 44, 44),#111111);
    background-blend-mode:luminosity;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hidden{
    display: none;
}
.border{
    width: 132px;
    height: 43px;
    font-size: 2.25rem;
    font-weight: 750;
}
.nav .ul{
    display: flex;
    gap: 40px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    width: 465px;
    height: 40px;
    padding: 3px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: 400;
}
.home{
    width:100px;
    height: 30px;
    border-radius: 46px;
    font-weight: 900;
    padding-top: 15px;
}
.nav-link{
    text-decoration: none;
}
.grey{
    color: rgba(255, 255, 255, 0.5);
}
.banner{
    display: flex;
    
    justify-content: center;
    gap: 40px;
}
.banner-tittle{
    font-size: 4.8rem;
}
.banner-content{
    font-size: 0.8rem;
    font-weight:lighter;   
}
.join-btn, .download-btn{
    width: 224px;
    height:54px;
    border-radius: 42px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
}
.download-btn{
    background-color: #111111;
    border: 1px solid white;
}
.details{
    width: 599px;
    height: 440px;
}
.poster{
    width: 350px;
    
}
.badge-btn{
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 12px;
}
#videos{
    /*margin-bottom: -105px;
    margin-left: 260px;
    margin-top: 140px;*/
    transform: translateX(250px) translateY(155px);
    background-color:rgba(76, 73, 73, 0.5);    
    backdrop-filter: blur(2px);
}
img{
    margin-top: -100px;
    width: 100%;
    height: 100%;
}
.tutorial{
    /*margin-top: -150px;
    margin-left: 50px;*/
    transform: translateX(-100px) translateY(-150px);
    background-color:rgba(76, 73, 73, 0.5);
    backdrop-filter: blur(5px);
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 99px;
    background-color: rgba(230, 83, 60, 1);
}
.circle img{
    padding-top: 5px;
    width: 30px;
    height: 30px;
    display:none;
}
.heading{
    
    font-weight: 800;
    height: 20px;
}

.badge-btn h1{
    font-size: 2rem;
}
.badge-btn h3{
    font-size: 1.5rem;
}
/*change habit*/
.change-habit, .run-an-extra,.train-and-exercise,.meeting-team{
    display: flex;
    justify-content: center;
    margin: 80px;
    padding: 10px;
    height: 40.75rem;
    margin-top: 0;
}
.habit-box{
    width: 1044px;
    text-align: center;
    display: grid;
}
.habit-content{
    width: 680px;
    height: 120px;
    margin-left: 180px;
    text-align: center;
}
.heading-2{
    font-weight: 800px;
    width: 476px;
    font-size: 3rem;
    margin-left: 90px;
    margin-bottom: 0px;
}
.habits{
    display: flex;
    gap:50px ;
}
.image img{
    border-radius: 50%;
    width: 100%;
}
/*Run an extra*/
.run-an-extra{
    height: 375px;
}
.extra-box{
    display: flex;
    justify-content: center;
    width: 1060px;
    height: 370px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
}
.box-content{
    width: 50%;
    padding-left: 50px;
}
.box-content button{
    font-size: 1.12rem;
    margin-top: 30px;
}
.box-content p{
    font-size: 0.87rem;
}
.box-heading{
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 800;
}
.box-image{
    height: 19.5rem;
    width:22.8rem ;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 30px;
}
.box-image img{
    height: 100%;
    border-radius: 18px;
}
/*Training and exercise*/
.train-and-exercise{
    display: grid;
}
.train-content{
    text-align: start;
    width: 41.8rem;
    height: 8.15rem;
    /*border: 1px solid wheat;*/
}
.train-images{
    grid-template-rows: auto auto;
    width: 1060px;
    height: 400px;
    /*border: 3px solid darkcyan;*/
    display: grid;
}
.row-1{
    display: grid;
    grid-template-columns: 15.6rem 33rem 16.4rem;
}
.row-2{
    display: grid;
    grid-template-columns: 26.5rem 16.5rem 22rem;
}
.image-1{
    background-image: url(../images/exercise1.jpg);
    background-size: cover;
    grid-area: 1st;
    position: relative;
}
.image-2{
    background-image: url(../images/exercise2.png);
    background-size: cover;
    grid-area: 2nd;
    position: relative;
}
.image-3{
    background-image: url(../images/exercise3.png);
    background-size: cover;
    grid-area: 3rd;
    position: relative;
}
.image-4{
    background-image: url(../images/exercise4.png);
    background-size: cover;
    grid-area: 4th;
    position: relative;
}
.image-5{
    background-image: url(../images/exercise5.jpg);
    background-size: cover;
    grid-area: 5th;
    position: relative;
}
.image-6{
    background-image: url(../images/exercise6.jpg);
    background-size: cover;
    grid-area: 6th;
    position: relative;
}
.over-1{
    padding: 10px;
    background-color: rgba(6, 255, 210, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-2{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.over-3{
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-4{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.over-5{
    padding: 10px;
    background-color:rgba(66, 255, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.over-6{
    padding: 10px;
    background-color: rgba(0, 71, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
/*BMI------*/
.BMI-content h1{
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.BMI-content{
    width: 670px;
    height: 120px;
    margin-left: 600px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.BMI-calculator{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    gap: 150px;
    flex-direction: row;
    height: 490px;
    padding-top: 100px;
    padding-left: 200px;
    margin: 100px;
}
table{
    height: 215px;
    border-collapse: collapse;
    padding: 0;
    gap: 0;
}
thead th{
    font-size: 1rem;
    height: 50px;
    width: 180px;
    text-align: left;
    padding: 5px;
    font-weight: 200;
}
table, th,td{
    border: 1px solid rgba(246, 242, 242, 0.1);
}
.row{
    width: 180px;
    height: 50px;
    padding: 5px;
}
.calculate-btn{
    font-size: 20px;
    font-weight: 800;
}
.form{
    width: 580px;
    height: 170px;
    display: grid;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
input, select{
    border-radius: 10px;
    border: none;
    height: 48px;
    background-color:rgba(255, 255, 255, 0.1) ;
    padding-left: 5px;
}
option{
    background-color: #424040;
}
.activity{
    height: 48px;
    width: 580px;
    padding: 3px;
}
/*meet our team*/
.meeting-team{
    height: 600px;
}
.team{
    width: 1060px;
    height: 580px;
    align-items: center;
    text-align: center;
}
.team h1{
    font-weight: 800;
}
.team-pic{
    height: 400px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 40px;
    padding: 15px;
    background-color:rgba(99, 98, 98, 0.2) ;
    border-radius: 10px;
}

.pics-1{
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-2{
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-3{
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-4{
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px; 
}
.pics-5{
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-6{
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    padding-left: 25px;
    font-size: 12px;
}
.pics-1 h5,.pics-2 h5,.pics-3 h5, .pics-4 h5, .pics-5 h5,.pics-6 h5, .pics-1 h1,.pics-2 h1,.pics-3 h1, .pics-4 h1, .pics-5 h1,.pics-6 h1{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
/*footer*/
.footer{
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    text-align: center;
    display: grid;
    gap: 10px;
}
.footer-content{
    width: 1056px;
    height: 300px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    margin-left: 420px;
    padding: 10px;
    margin-top: 50px;
    gap: 350px;
}
.brief{
    text-align: left;
}
.brief-content{
    font-size: 14px;
    text-align: left;
    margin-top: 30px;
}
.about-us{
    text-align: left;
    height: 300px;
    width: 750px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.get-started1 h2, .get-started2 h2{
    margin-bottom: 20px;
}

/*media for small device*/
@media screen and (max-width:576px) {
    body{
        margin: 0;
    }
    .nav{
        justify-content:space-between;
        padding: 5px;
        padding-right: 10px;
    }
    .nav .ul{
        display: none;
    }
    .hidden{
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url(../icon/icons8-menu-30.png);
        appearance: none;
        background-color: rgb(42, 41, 41);
    }
    .hidden option a:hover{
        background-color: rgb(73, 71, 70);
    }
    .border-2{
        width: 410px;
        border: none;
        margin: 0;
        padding: 5px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-tittle{
        font-size: 3.2rem;
    }
    .details{
        width: 360px;
        height: 440px;
        margin-left: 3px;
        margin-right: 3px;
        padding: 3px;
    }
    .banner-content{
        font-size: 0.9rem;
        font-weight:300;
        width: 250px;   
    }
    .join-btn, .download-btn{
        width: 165px;
        margin: 5px;
    }
    img{
        margin-top: -0px;
        width: 100%;
        height: 100%;
    }
    #videos{
        transform: translateX(210px) translateY(155px);
    }
    .tutorial{
        transform: translateX(5px) translateY(-300px);
    }
    .circle img{
        padding-top: 5px;
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    /*habit*/
    .change-habit{
        width: 300px;
        height: 1400px;
        background-size: cover;
        margin-bottom: 140px;
        align-items: center;
        margin: 20px;
    }
    .habit-content{
        width: 280px;
        height: 200px;
        margin-left: 20px;
        text-align: center;
    }
    .habit-box{
        width: 400px;
        text-align: center;
        display: grid;
        align-items: center;
        gap: 0;
    }
    .heading-2{
        font-weight: 800px;
        width: 300px;
        font-size: 2rem;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .habit-box {
        flex-direction: column;
    }
    .habits{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .image{
        margin-left: 40px;
        width: 200px;
        height: 200px;
        border: 2px solid rgb(55, 52, 52);
        border-radius: 50%;
    }
    /*run extra*/
     .run-an-extra{
        display: flex;
        justify-content: center;
        padding: 10px;
        height: 55rem;
        margin: 0;
        padding: 0;
    }
    .extra-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        width: 372px;
        height: 650px;
        background-color: rgba(34, 34, 34, 1);
        align-items: start;
        padding: 0;
        margin-left: 0px;
    }
    .box-content{
        width: 300px;
        padding-left: 20px;
    }
    .box-content p{
        font-size: 0.87rem;
        word-spacing: 7px;
    }
    .box-heading{
        font-size: 3rem;
        margin: 0;
        font-weight: 800;
    }
    .box-content button{
        font-size: 1.12rem;
        margin: 0;
        margin-top: 10px;
        width: 300px;
        padding: 0;
    }
    .box-image{
        height: 17rem;
        width:21.5rem ;
        padding: 0px;
        padding-left: 15px;
    }
    .box-image img{
        height: 100%;
        border-radius: 18px;
    }
/*training*/
.train-and-exercise{
    display: grid;
    padding: 5px;
    height: 600px;
    margin: 0;
    padding: 0;
    width: 410px;
    position: relative;
    gap: 50px;
}
.train-content{
    text-align: start;
    width: 24rem;
    height: 16rem;
    position: absolute;
    margin-left:0px;
    padding-left: 15px;
    /*border: 1px solid wheat;*/
}
.train-images{
    grid-template-rows: auto auto;
    width: 380px;
    height: 350px;
    /*border: 3px solid darkcyan;*/
    display: grid;
    position: relative;
    top: 230px;
    padding: 0;
}
.row-1{
    display: grid;
    padding: 0;
    grid-template-columns: 12rem 12rem 16rem;
}
.row-2{
    display: grid;
    grid-template-columns: 12rem 12rem 22rem;
}
.image-3,.image-6{
    display: none;
}
/*BMI*/
    .BMI-content{
        width: 370px;
        height: 180px;
        margin: 0;
        padding-left: 20px;
    } 
    .BMI-calculator{
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        gap: 50px;
        flex-direction: column;
        height: 850px;
        padding: 8px;
        margin: 0px;
    }
    .calculator button{
        width: 250px;
        gap: 0;
    }
    .form{
        width: 380px;
        height: 170px;
        display: grid;
        gap: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-info{
        display: grid;
        grid-template-columns: repeat(2,190px);
        gap: 5px;
    }
    .activity{
        width: 380px;
    }
    /*Meet our team*/
    .meeting-team{
        height: 1300px;
        width: 400px;
        margin: 0;
        padding: 5px;
    }
    .team{
        width: 380px;
        height: 160px;
        align-items: center;
        text-align: center;
    }
    .team-pic{
        height: 1050px;
        width: 350px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 18px;
        margin-top: 40px;
        padding: 20px;
    }
    .pics-1, .pics-4{
        display: none;
    }
    /*footer*/
    .footer{
        height: 900px;
        width: 415px;
        margin: 0;
    }
    .footer-content{
        width: 396px;
        height: 700px;
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0px;
        padding: 10px;
        gap: 10px;
    }
    .footer-content p{
        font-size: 17px;
        word-spacing: 3px;
        font-weight:medium;
    }
    .brief{
        text-align: left;
    }
    .brief-content{
        font-size: 14px;
        text-align: left;
        margin-top: 30px;
    }
    .about-us{
        text-align: left;
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .get-started1 h2, .get-started2 h2{
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 800;
    }
    
    
}